/* Styling for the gallery */
div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px 15px 45px 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

/* Set image size */
.galleryImage {
    height: 500px;
    width: 500px;
}

/* Style responsive div */
/* By default has 4 images in a row */
.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

/* Styling for when screen gets too small */
@media only screen and (max-width: 700px) {
    /* Shrink to 2 images in a row */
    .responsive {
        width: 50%;
        margin: 6px 0;
        float: left;
    }
}

@media only screen and (max-width: 500px) {
    /* Shrink to 1 image in a row */
    .responsive {
        width: 100%;
        float: left;
    }

    /* Shrink image when screen too small */
    .galleryImage {
        height: 350px;
        width : 350px;
    }
}